/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
// Layout properties
$layoutWidth: 1440px;

// Primary colors
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkDesaturatedCyan: hsl(167, 40%, 24%);
$darkBlue: hsl(198, 62%, 26%);
$darkModerateCyan: hsl(168, 34%, 41%);

// Neutral color
$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// Typography
$fontFamily: "Barlow";
$fontFamilyWeight: 600;
$fontFamilyAlt: "Fraunces";
$fontFamilyWeightAlt: 700;
$bodyFontSize: 1.25em;

// Mixins
@mixin set-background($urlBackground) {
  background-image: url($urlBackground);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin config-text-card($color) {
  text-align: center;
  margin: 10%;
  h2 {
    font-family: $fontFamilyAlt;
    font-size: 2.5em;
    font-weight: $fontFamilyWeightAlt;
  }
  p {
    color: $darkGrayishBlue;
    font-family: $fontFamily;
    font-size: $bodyFontSize;
    font-weight: $fontFamilyWeightAlt;
    line-height: 1.75em;
  }

  h3 {
    margin-top: 10vh;
    text-decoration: underline;
    text-decoration-color: $color;
    text-decoration-thickness: 0.2em;
  }
}

@mixin config-picture-card {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  h2 {
    position: absolute;
    width: 100%;
    bottom: 30vh;
    text-align: center;
    color: $darkDesaturatedCyan;
    font-family: $fontFamilyAlt;
    font-size: 2.5em;
    font-weight: $fontFamilyWeightAlt;
  }
  p {
    margin: 10%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: $darkDesaturatedCyan;
    font-family: $fontFamily;
    font-size: $bodyFontSize;
    font-weight: $fontFamilyWeightAlt;
    line-height: 1.75em;
  }
}

/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/
body {
  margin: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  @include set-background("../image/photos/image-header.jpg");
  display: flex;
  flex-direction: column;
  height: 120vh;

  img {
    align-self: center;
    width: 12%;
    left: 0;
  }

  h1 {
    text-align: center;
    font-family: $fontFamilyAlt;
    font-size: 4em;
    color: $white;
    text-transform: uppercase;
  }

  .topnav {
    overflow: hidden;
    position: relative;

    #myLinks {
      display: none;
    }
    a {
      color: $white;
      padding: 5vmin;
      text-decoration: none;
      font-size: 2em;
      display: block;
    }
    a.icon {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
    .active {
      img {
        height: 4vh;
        width: auto;
      }
    }
  }
}

/*--------------------------------------------------------------
# Card
--------------------------------------------------------------*/
.section-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  img {
    width: 100vw;
  }

  .card-2 {
    @include config-text-card($yellow);
  }

  .card-4 {
    @include config-text-card($softRed);
  }

  .card-5 {
    @include set-background("../image/photos/image-graphic-design.jpg");
    @include config-picture-card();
  }

  .card-6 {
    @include set-background("../image/photos/image-photography.jpg");
    @include config-picture-card();
  }
}

/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/
.section-testimonial {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  h2 {
    margin-top: 15%;
    color: $darkGrayishBlue;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.3em;
  }
  article {
    padding: 5% 15%;

    img {
      border-radius: 50%;
      width: 25%;
      height: 25%;
    }

    h3 {
      font-family: $fontFamilyAlt;
      font-weight: $fontFamilyWeightAlt;
    }

    h4 {
      color: $grayishBlue;
      font-family: $fontFamily;
    }

    p {
      color: $veryDarkGrayishBlue;
      font-family: $fontFamily;
      font-weight: bolder;
      font-size: 1.2em;
    }
  }
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.section-gallery {
  display: flex;
  flex-direction: row;

  article {
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  background-color: $darkModerateCyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    background-color: $darkDesaturatedCyan;
    mask: url(../image/logo.svg) no-repeat center;
    img {
      width: 40vw;
      margin-bottom: 5vh;
      margin-top: 15vh;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    li{}
  }
}
