/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
// Layout properties
$layoutWidth: 1440px;

// Primary colors
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkDesaturatedCyan: hsl(167, 40%, 24%);
$darkBlue: hsl(198, 62%, 26%);
$darkModerateCyan: hsl(168, 34%, 41%);

// Neutral color
$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// Typography
$fontFamily: "Barlow";
$fontFamilyWeight: 600;
$fontFamilyAlt: "Fraunces";
$fontFamilyWeightAlt: 700;
$bodyFontSize: 1.25rem;

/*--------------------------------------------------------------
# Mixin
--------------------------------------------------------------*/
@mixin set-background($urlBackground) {
  background-image: url($urlBackground);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin config-text-card($color) {
  text-align: center;

  h2 {
    font-family: $fontFamilyAlt;
    font-size: 2.5rem;
    font-weight: $fontFamilyWeightAlt;
  }

  p {
    color: $darkGrayishBlue;
    font-family: $fontFamily;
    font-size: $bodyFontSize;
    font-weight: $fontFamilyWeightAlt;
    line-height: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-color: $color;
    text-decoration-thickness: 0.3rem;
  }
}

@mixin config-picture-card {
  height: 125vh;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;

  h2 {
    position: absolute;
    width: 100%;
    top: 65vh;
    color: $darkDesaturatedCyan;
    font-family: $fontFamilyAlt;
    font-size: 2.5rem;
    font-weight: $fontFamilyWeightAlt;
  }

  p {
    margin: 10% 0;
    position: absolute;
    top: 85vh;
    color: $darkDesaturatedCyan;
    font-family: $fontFamily;
    font-size: $bodyFontSize;
    font-weight: $fontFamilyWeightAlt;
    line-height: 1.75rem;
  }
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  margin: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  @include set-background("../image/photos/image-header.jpg");
  display: flex;
  flex-direction: column;
  height: 120vh;

  img {
    align-self: center;
    width: 12%;
    left: 0;
  }

  h1 {
    text-align: center;
    font-family: $fontFamilyAlt;
    font-size: 4em;
    color: $white;
    text-transform: uppercase;
  }

  .nav-menu-width {
    display: none;
  }

  .top-nav {
    a {
      color: $white;
      text-decoration: none;
      font-size: 1rem;
      display: block;
    }
    .icon {
      position: absolute;
      right: 0;
      top: 0;
      padding: 2rem;

      .fa {
        font-size: 2rem;
      }
    }

    .active {
      padding: 2rem;
      img {
        height: 4vh;
        width: auto;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  header {
    img {
      align-self: center;
      width: 6%;
      left: 0;
    }

    .nav-menu-width {
      display: flex;

      ul {
        display: flex;
        position: absolute;
        list-style-type: none;
        top: 0;
        right: 0;

        li {
          margin: 1rem 2rem;
          font-size: 0.5em;
          font-family: $fontFamily;
          :hover {
            border-radius: 15%;
            background-color: $white;
            color: $veryDarkDesaturatedBlue;
            font-weight: bold;
          }
        }
      }
    }

    .icon {
      visibility: hidden;
    }
  }
}

/*--------------------------------------------------------------
# Card
--------------------------------------------------------------*/
.section-card {
  display: flex;
  flex-direction: column;

  .card-1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    @include set-background("../image/photos/image-transform.jpg");
  }

  .card-2 {
    display: flex;
    flex-direction: column;
    @include config-text-card($yellow);
    margin: 10%;
  }

  .card-3 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    @include set-background("../image/photos/image-stand-out.jpg");
  }

  .card-4 {
    display: flex;
    flex-direction: column;
    @include config-text-card($softRed);
    margin: 10%;
  }

  .card-5 {
    @include set-background("../image/photos/image-graphic-design.jpg");
    @include config-picture-card();
  }

  .card-6 {
    @include set-background("../image/photos/image-photography.jpg");
    @include config-picture-card();
  }
}

@media screen and (min-width: 800px) {
  .section-card {
    display: flex;
    flex-direction: column;
    text-align: start;

    .row-1 {
      display: flex;
      flex-direction: row-reverse;
      article {
        width: 50vw;
        display: flex;
        flex-direction: column;
        margin: 0;
      }

      .card-2 {
        text-align: start;
        justify-content: center;

        h2 {
          padding: 0 15%;

          font-size: 3rem;
        }
        p {
          padding: 0 15%;
        }

        h3 {
          padding: 0 15%;
        }
      }
    }

    .row-2 {
      display: flex;
      article {
        width: 50vw;
        display: flex;
        flex-direction: column;
        margin: 0;
      }
      .card-4 {
        text-align: start;
        justify-content: center;

        h2 {
          padding: 0 15%;

          font-size: 3rem;
        }
        p {
          padding: 0 15%;
        }

        h3 {
          padding: 0 15%;
        }
      }
    }

    .row-3 {
      display: flex;
      article {
        width: 50vw;
        display: flex;
        flex-direction: column;
        margin: 0;
        p {
          padding: 0 20%;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/
.section-testimonial {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;

  h2 {
    margin-top: 15%;
    color: $darkGrayishBlue;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.3em;
  }

  article {
    padding: 5% 15%;
    img {
      border-radius: 50%;
      width: 25%;
      height: 25%;
    }

    h3 {
      font-family: $fontFamilyAlt;
      font-weight: $fontFamilyWeightAlt;
    }

    h4 {
      color: $grayishBlue;
      font-family: $fontFamily;
    }

    p {
      color: $veryDarkGrayishBlue;
      font-family: $fontFamily;
      font-weight: bolder;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

@media screen and (min-width: 800px) {
  .section-testimonial {
    padding-top: 10vh;
    h2 {
      font-size: 2rem;
    }
    .container {
      margin: 15vh 0;
      display: flex;
      flex-direction: row;
      .testimonial-card {
        padding: 5%;
        width: 1/3;
        height: auto;

        img {
          border-radius: 50%;
          width: 1/3;
          height: auto;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.section-gallery {
  display: table;
  img {
    margin: -1vw 0;
    width: 50%;
    height: 50%;
  }
}

@media screen and (min-width: 800px) {
  .section-gallery {
    display: flex;
    flex-direction: row;
    img {
      width: 25%;
    }
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  color: $darkDesaturatedCyan;
  background-color: $darkModerateCyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10vh;
  padding-top: 10vh;
  .logo {
    img {
      height: 7vh;
      margin: 5vh;
    }
  }

  a {
    color: $darkDesaturatedCyan;
    text-decoration: none;
  }

  .menu-list {
    width: 90%;
    display: inline-block;
    color: $darkDesaturatedCyan;

    ul {
      font-family: $fontFamily;
      font-size: $bodyFontSize;
      font-weight: $fontFamilyWeight;
      list-style-type: none;
      display: flex;
      flex-direction: row;

      li {
        width: 20rem;
      }
    }
  }
  .social-list {
    width: 75%;
    display: inline-block;
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      li {
        width: 15rem;
        .fa {
          font-size: 2rem;
          margin-top: 10vh;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  footer {
    display: flex;
    align-items: center;

    .menu-list {
      width: 40vw;
      ul {
        font-family: $fontFamily;
        font-size: $bodyFontSize;
        font-weight: $fontFamilyWeight;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        li {
          text-align: center;
          text-decoration: none;
          :hover{
            color: white;
          }
        }
      }
      
    }
    .social-list {
      width: 30vw;
    
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        li {
          text-align: center;
        }
      }
    }
    .fa{
      &:hover{
        color: white;
      }
    }
  }
}