/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/
body {
  margin: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  background-image: url("../image/photos/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 120vh;
}
header img {
  align-self: center;
  width: 12%;
  left: 0;
}
header h1 {
  text-align: center;
  font-family: "Fraunces";
  font-size: 4em;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
}
header .topnav {
  overflow: hidden;
  position: relative;
}
header .topnav #myLinks {
  display: none;
}
header .topnav a {
  color: hsl(0deg, 0%, 100%);
  padding: 5vmin;
  text-decoration: none;
  font-size: 2em;
  display: block;
}
header .topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
header .topnav .active img {
  height: 4vh;
  width: auto;
}

/*--------------------------------------------------------------
# Card
--------------------------------------------------------------*/
.section-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.section-card img {
  width: 100vw;
}
.section-card .card-2 {
  text-align: center;
  margin: 10%;
}
.section-card .card-2 h2 {
  font-family: "Fraunces";
  font-size: 2.5em;
  font-weight: 700;
}
.section-card .card-2 p {
  color: hsl(232deg, 10%, 55%);
  font-family: "Barlow";
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.75em;
}
.section-card .card-2 h3 {
  margin-top: 10vh;
  text-decoration: underline;
  -webkit-text-decoration-color: hsl(51deg, 100%, 49%);
          text-decoration-color: hsl(51deg, 100%, 49%);
  text-decoration-thickness: 0.2em;
}
.section-card .card-4 {
  text-align: center;
  margin: 10%;
}
.section-card .card-4 h2 {
  font-family: "Fraunces";
  font-size: 2.5em;
  font-weight: 700;
}
.section-card .card-4 p {
  color: hsl(232deg, 10%, 55%);
  font-family: "Barlow";
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.75em;
}
.section-card .card-4 h3 {
  margin-top: 10vh;
  text-decoration: underline;
  -webkit-text-decoration-color: hsl(7deg, 99%, 70%);
          text-decoration-color: hsl(7deg, 99%, 70%);
  text-decoration-thickness: 0.2em;
}
.section-card .card-5 {
  background-image: url("../image/photos/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.section-card .card-5 h2 {
  position: absolute;
  width: 100%;
  bottom: 30vh;
  text-align: center;
  color: hsl(167deg, 40%, 24%);
  font-family: "Fraunces";
  font-size: 2.5em;
  font-weight: 700;
}
.section-card .card-5 p {
  margin: 10%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: hsl(167deg, 40%, 24%);
  font-family: "Barlow";
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.75em;
}
.section-card .card-6 {
  background-image: url("../image/photos/image-photography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.section-card .card-6 h2 {
  position: absolute;
  width: 100%;
  bottom: 30vh;
  text-align: center;
  color: hsl(167deg, 40%, 24%);
  font-family: "Fraunces";
  font-size: 2.5em;
  font-weight: 700;
}
.section-card .card-6 p {
  margin: 10%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: hsl(167deg, 40%, 24%);
  font-family: "Barlow";
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.75em;
}

/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/
.section-testimonial {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}
.section-testimonial h2 {
  margin-top: 15%;
  color: hsl(232deg, 10%, 55%);
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.3em;
}
.section-testimonial article {
  padding: 5% 15%;
}
.section-testimonial article img {
  border-radius: 50%;
  width: 25%;
  height: 25%;
}
.section-testimonial article h3 {
  font-family: "Fraunces";
  font-weight: 700;
}
.section-testimonial article h4 {
  color: hsl(210deg, 4%, 67%);
  font-family: "Barlow";
}
.section-testimonial article p {
  color: hsl(213deg, 9%, 39%);
  font-family: "Barlow";
  font-weight: bolder;
  font-size: 1.2em;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.section-gallery {
  display: flex;
  flex-direction: row;
}
.section-gallery article {
  display: flex;
  flex-direction: column;
}
.section-gallery article img {
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  background-color: hsl(168deg, 34%, 41%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .logo {
  background-color: hsl(167deg, 40%, 24%);
  -webkit-mask: url(../image/logo.svg) no-repeat center;
          mask: url(../image/logo.svg) no-repeat center;
}
footer .logo img {
  width: 40vw;
  margin-bottom: 5vh;
  margin-top: 15vh;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}/*# sourceMappingURL=style.css.map */