/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# BODY
--------------------------------------------------------------*/
body {
  margin: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header" "grid-photo grid-photo" "grid-photo grid-photo" "grid-photo grid-photo" "testimonial testimonial" "gallery gallery" "footer footer";
}

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
.header {
  background-image: url("../image/photos/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "logo menu" "title title";
  grid-area: header;
}
.header .logo {
  grid-area: logo;
}
.header .menu {
  grid-area: menu;
}
.header .menu nav ul {
  list-style-type: none;
}
.header .menu nav ul li {
  float: left;
  width: 25%;
  text-align: center;
}
.header .title {
  grid-area: title;
  text-align: center;
}

/*--------------------------------------------------------------
# Grid photo
--------------------------------------------------------------*/
.grid-photo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "photo-1 photo-2" "photo-3 photo-4" "photo-5 photo-6";
  grid-area: grid-photo;
}
.grid-photo .photo-1 {
  grid-area: photo-1;
  text-align: justify;
}
.grid-photo .photo-2 {
  grid-area: photo-2;
  background-image: url("../image/photos/image-transform.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-photo .photo-3 {
  grid-area: photo-3;
  background-image: url("../image/photos/image-stand-out.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-photo .photo-4 {
  grid-area: photo-4;
  text-align: justify;
}
.grid-photo .photo-5 {
  grid-area: photo-5;
  background-image: url("../image/photos/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-photo .photo-6 {
  grid-area: photo-6;
  background-image: url("../image/photos/image-photography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/
.testimonial {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "testimonial-title testimonial-title testimonial-title" "testimonial-1 testimonial-2 testimonial-3";
  grid-area: testimonial;
  align-items: center;
  align-content: center;
}
.testimonial .testimonial-title {
  text-align: center;
  grid-area: testimonial-title;
}
.testimonial .testimonial-1 {
  grid-area: testimonial-1;
}
.testimonial .testimonial-2 {
  grid-area: testimonial-2;
}
.testimonial .testimonial-3 {
  grid-area: testimonial-3;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "gallery-1 gallery-2 gallery-3 gallery-4";
  grid-area: gallery;
}
.gallery .gallery-1 {
  grid-area: gallery-1;
  background-image: url("../image/photos/image-gallery-milkbottles.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery .gallery-2 {
  grid-area: gallery-2;
  background-image: url("../image/photos/image-gallery-orange.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery .gallery-3 {
  grid-area: gallery-3;
  background-image: url("../image/photos/image-gallery-cone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery .gallery-4 {
  grid-area: gallery-4;
  background-image: url("../image/photos/image-gallery-sugarcubes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background-color: hsl(168deg, 34%, 41%);
  grid-area: footer;
}
.footer nav ul {
  list-style-type: none;
}
.footer nav ul li {
  float: left;
  width: 25%;
  text-align: center;
}/*# sourceMappingURL=style.css.map */